@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #000;
  }

  a {
    color: #809fff;
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background: #aaa;
  }

  a {
    color: #1793d1;
  }
}

a {
  text-decoration: none;
}